/**
 ** ************************************************************************ **
 *
 * CSS Variables
 *
 * https://developer.mozilla.org/en-US/docs/Web/CSS/var
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables
 */

:root {
  --branding-primary: rgb(50, 126, 177); // #327eb1
  --branding-status-ok: rgb(83, 209, 146);
  --branding-status-noncritical: rgb(255, 107, 1);
  --branding-status-critical: rgb(227, 25, 55);
  --branding-ice: rgb(161, 196, 208); // #a1c4d0
  --branding-honey: rgb(242, 162, 0); // #f2a200
  --branding-pumpkin: rgb(255, 106, 0); // #ff6a00
  --branding-red: rgb(227, 25, 55);
  --branding-red-alpha: rgb(154, 31, 62); // #9a1f3e
  --branding-white: rgb(227, 25, 55); // See to use color mutation instead of giving different names TODO
  --branding-green: rgb(83, 209, 146); // #53d192
}

/**
 * See element-ui/packages/theme-chalk/src/common/var.scss
 */

$--color-primary: #327eb1;
$--color-success: #53d192;
$--color-warning: #f2a200;
$--color-danger: #9a1f3e;
$--color-info: #a1c4d0;
$--color-text-primary: #333;
$--color-text-regular: #555;
$--color-text-secondary: #888;
$--color-text-placeholder: #aaa;

$--badge-fill: var(--branding-green);

$--font-path: '~assets/fonts';
$--link-color: pink;

// $--color-text-primary: var(--branding-primary);
// $--color-text-primary: red;

/**
 * /See element-ui...
 */
